---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
import { Image } from 'astro:assets';
---

<BaseLayout title="Hobbies" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skiing</div>
  </div>

  <div class="mb-10 text-justify">
    I have a great passion for skiing and I am a CISA level2 ski instructor. I go to Mount St Louis for skiing in the winter at weekends,
    and occasionally go skiing at somewhere BIGGER, like Mont Tremblant. Feel free to contact me if you are also interested in skiing or learning skiing.
  </div>

  <img src={"public/ski1.jpg"} alt="" width="500" height="50">
  <img src={"public/ski2.jpg"} alt="" width="500" height="50">
  <img src={"public/ski3.jpg"} alt="" width="500" height="50">
  <img src={"public/ski4.jpg"} alt="" width="500" height="50">
  <img src={"public/ski5.jpg"} alt="" width="500" height="50">
  <img src={"public/ski6.jpg"} alt="" width="500" height="50">
  <img src={"public/ski7.jpg"} alt="" width="500" height="50">
</BaseLayout>
